{% extends 'base.html' %}
{% block head %}
    <title>پنل مدیریت</title>
{% endblock %}

{% block body %}

    <div class="container mt-5" style="max-width: 500px;">
        <h1 class="text-center mb-4">کوتاه‌کننده لینک</h1>
        <form id="urlForm" class="mb-4">
            <div class="mb-3">
                <label for="longUrl" class="form-label">لینک بلند</label>
                <input type="url" class="form-control" id="longUrl" placeholder="لینک خود را وارد کنید" required>
            </div>
            <div class="mb-3">
                <label for="shortId" class="form-label">شناسه کوتاه</label>
                <input type="text" class="form-control" id="shortId" placeholder="کلمه مورد نظر را وارد کنید">
            </div>
            <button type="submit" class="btn btn-primary w-100">کوتاه کردن لینک</button>
        </form>
        <div id="result" class="alert alert-success d-none">
            <strong>لینک کوتاه‌شده:</strong> <a id="shortUrl" href="#" target="_blank"></a>
        </div>
        <div id="error" class="result alert alert-danger d-none"></div>
    </div>

    <div class="container mt-5" style="max-width: 500px;">
        <h1 class="text-center mb-4">لینک های ساخته شده</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>لینک کوتاه</th>
                <th>لینک بلند</th>
                <th>تعداد بازدید</th>
                <th>تاریخ ایجاد</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody>
            {% for link in current_user.links %}
                <tr>
                    <td>

                        <a target="_blank"
                           href="{{ url_for('main.redirect', short_id=link.short_id) }}">{{ link.short_id }}</a>
                    </td>
                    <td><a href="{{ link.long_url }}">{{ link.long_url }}</a></td>
                    <td>{{ link.views }}</td>
                    <td class="unixtime">{{ link.created_at }}</td>
                    <td>
                        <i class="bi bi-clipboard2-fill text-info btn p-0"
                           data-bs-toggle="tooltip"
                           data-bs-custom-class="blue-tooltip" data-bs-placement="bottom"
                           data-bs-title="کپی لینک کوتاه"
                           onclick="copyToClipboard('{{ request.url_root }}{{ link.short_id }}')"></i>

                        <a href="{{ url_for('admin_dashboard.delete_link', link_id=link.id) }}"
                           class="text-decoration-none text-danger" data-bs-toggle="tooltip"
                           data-bs-custom-class="red-tooltip" data-bs-placement="bottom"
                           data-bs-title="حذف">
                            <i class="bi bi-trash3-fill "></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ url_for('admin_dashboard.logout') }}" class="btn btn-danger w-100">خروج از حساب کاربری
            ({{ current_user.email }})</a>
    </div>

    <script>
        document.getElementById('urlForm').addEventListener('submit', async (e) => {
            e.preventDefault();

            const longUrl = document.getElementById('longUrl').value;
            const shortId = document.getElementById('shortId').value;
            const resultDiv = document.getElementById('result');
            const shortUrlLink = document.getElementById('shortUrl');
            const errorDiv = document.getElementById('error');

            try {
                const response = await fetch('{{ url_for("admin_dashboard.shorten") }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    credentials: 'include',
                    body: JSON.stringify(
                        {
                            url: longUrl,
                            short_id: shortId
                        }
                    ),
                });

                const data = await response.json();

                if (data.status === 'success') {
                    shortUrlLink.href = data.shortUrl;
                    shortUrlLink.textContent = data.shortUrl;
                    resultDiv.classList.remove('d-none');
                    errorDiv.classList.add('d-none');
                } else if (data.status === 'error') {
                    alert(data.error);
                }
            } catch (error) {
                errorDiv.textContent = error.message;
                errorDiv.classList.remove('d-none');
                resultDiv.classList.add('d-none');
            }
        });

        function copyToClipboard(text) {
            navigator.clipboard.writeText(text);
            alert("کپی شد")
        }
    </script>

{% endblock %}