@font-face {
  font-family: 'Vazirmatn RD';
  src: url('/static/fonts/Vazirmatn-RD.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Vazirmatn RD', sans-serif;
}
.red-tooltip {
  --bs-tooltip-bg: var(--bs-danger);
  --bs-tooltip-color: var(--bs-white);
}
.blue-tooltip {
  --bs-tooltip-bg: var(--bs-info);
  --bs-tooltip-color: var(--bs-white);
}
.dark-blue-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
  --bs-tooltip-color: var(--bs-white);
}
.tooltip {
  --bs-font-sans-serif : 'Vazirmatn RD', sans-serif;
}